.experience {
  padding: 96px 0;
  background: $section-bg;
  &__title {
    color: $title-color;
    font-size: 42px;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 24px;
    span {
      color: $primary-color;
    }
    @include mobile {
      font-size: 28px;
      line-height: 42px;
    }
  }

  &__desc {
    color: $desc-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 80px;
    max-width: 730px;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    gap: 30px;
    @include tablet-small {
      flex-direction: column;
    }
  }
}

.card {
  max-width: 350px;
  padding: 32px;
  border-radius: 12px;
  background: $black;
  @include tablet-small {
    max-width: 100%;
  }
  &__time {
    color: $white;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    padding-bottom: 8px;
  }

  &__title {
    color: $primary-color;
    font-size: 26px;
    font-weight: 700;
    line-height: 41px;
    margin-bottom: 4px;
  }

  &__app {
    color: $white;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    margin-bottom: 8px;
  }

  &__desc {
    color: $desc-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
  }
}
