$ff:'Lexend Deca', sans-serif;

//Constant clors
$white: #fff;
$black: #000;

$body-bg: #020617;
$body-color: $white;

$section-bg: #111827;

$primary-color: #EAB308;

$header-link: #9CA3AF;
$header-link-active: $white;

$title-color: #F3F4F6;
$desc-color: #6B7280;

$form-color: #1F2937;

$btn-radius: 4px;
$btn-text-color: $black;

$transition: .2s all ease-out;

$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;